* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 10px;
  background-color: #efefef ;
}
header h1 {
  margin-top: 0;
}
header img {
  width: 70%;
  margin: auto;
}

nav ul{
  list-style: none;
  padding: 0;
}

.main-nav ul li {
  background-color: white;
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

nav a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.wrapper {
  margin: 20px;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 30px 0;
}

.wrapper h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.wrapper img {
  width: 100%;
}

footer {
  background-color: #efefef ;
}

.contact {
  padding-top: 150px;
  padding: 10px;
}

.bottom-nav {
  margin: 50px 10px 0 10px;
  border-top: 1px solid grey;
  padding-bottom: 10px;
  text-align: right;
}

.bottom-nav h4{
  float: left;
}

.bottom-nav ul li .top {
  display: inline-block;
}

.full {
  display: none;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
  header {
    padding-top: 50px;
  }
  header p {
    font-size: 1.5rem;
  }
  header img {
    float: right;
    width: 40%;
  }
  .main-nav {
    display: inline-block;
  }
  .main-nav ul{
    margin: 0 auto;
  }
  .main-nav ul li{
    float: left;
    background: none;
  }

  section.container {
    float: left;
    display: inline-block;
    width: 50%;
    padding: 10px;
   }

  .bottom-nav ul{
    display: inline-block;
  }
  .full {
    float: left;
    display: block;
    margin: 5px;
  }

  .top {
    display: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px){
  html {
    background-color: #efefef;
  }
  .main-nav {
    width: 100%;
  }
  .main-nav h1 {
    float: left;
  }

  .main-nav ul {
    display: inline-block;
    float: right;
  }

  .wrapper {
    background-color: white;
  }

  section.container {
    width: 33%
  }
}
