* {
  box-sizing: border-box;
}
html {
  background-color: #fbeec1;
}
body {
  text-align: center;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 10px;
  margin-bottom: 40px;
}
header h1 {
  margin-top: 0;
}
header img {
  width: 70%;
  margin: auto;
  box-shadow: 2px 2px 4px;
}

header p {
  font-family: 'Play';
}

nav ul{
  list-style: none;
  padding: 0;
}

.wrapper,
.container,
#skills {
  background-color: #8d8741;
  color: white
}
.container{
  padding: 30px;
  margin: auto;
}

.main-nav ul li {
  padding: 10px;
  margin: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

nav a{
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
}

nav a:hover {
  padding-bottom: 3px;
  border-bottom: 2px solid black;
}

h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 30px 0;
  margin: 0;
}

.wrapper h3 {
  font-size: 1.3rem;
  font-weight: 500;
}

.wrapper img {
  width: 100%;
}

.skills {
  margin: 30px 0;
}
.wrap {
  padding: 20px;
}
.logo {
  height: 150px;
}

#contact {
  padding-bottom: 50px;
}

.contact {
  padding-top: 150px;
  padding: 10px;
}

.bottom-nav {
  margin: 0 15px 0 10px;
  border-top: 2px solid #bc986a;
  padding-bottom: 10px;
  text-align: right;
}

.bottom-nav h4{
  float: left;
}

.bottom-nav ul li .top {
  display: inline-block;
}

.full {
  display: none;
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
  header {
    padding-top: 20px;
  }
  header p {
    font-size: 1.6rem;
  }
  header img {
    float: right;
    width: 50%;
    margin: 0 20px;
  }

  .main-nav {
    display: inline-block;
  }
  .main-nav ul{
    margin: 0 auto;
  }
  .main-nav ul li{
    float: left;
    background: none;
  }

  section.container {
    float: left;
    display: inline-block;
    width: 50%;
    padding: 20px;
    min-height: 420px;
    margin: 0 auto;
   }

   .wrap {
     float: left;
     display: inline-block;
     width: 33.33%;
   }


  .bottom-nav ul{
    display: inline-block;
  }

  .full {
    float: left;
    display: block;
    margin: 5px;
  }

  .top {
    display: none;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px){
  html{
    margin: 20px;
  }
  .main-nav {
    width: 100%;
  }

  header p {
    font-size: 2.1rem;
  }

  .main-nav h1 {
    float: left;
  }

  .main-nav ul {
    display: inline-block;
    float: right;
  }
  .wrapper,
  .skills{
    box-shadow: 0 7px 12px black;
  }

  section.container {
    width: 33.33%;
  }

  .skills {
    padding: 0 10%;
  }

  .wrap {
    width: 33.33%;
    margin: 0 auto;
  }
}
